@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
    /* overflow:hidden; */
}

.mainCl {
    user-select: none;

}

.bdrw {
    z-index: 1000;
}

/* width */
::-webkit-scrollbar {
    width: 0.5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}